<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.springbootlearning.dao.user.UserDao">

    <resultMap id="userResultMap" type="com.zero.springbootlearning.model.user.UserTest2">
        <id property="id" column="id" />
        <result property="address" column="address" />
    </resultMap>

    <select id="findUserById" parameterType="int" resultMap="userResultMap">
        select
            id, address
        from
            user
        where
            id = #{id}
    </select>

</mapper>
